{% extends "layout.html" %}
{% block title%}
    Works Page
{% endblock %}

{% block main %}
<div id="works_page"></div>

<div id="works_box">
    <h1>Social Media Posts</h1>
</div>

<div class="image-grid">
    <img  class="image-grid-row-column-2" src="static/Assets/ChairityPost2.jpg" alt="Tommy and Franco Picture"/>
    <img src="static/Assets/chairity_corporate_partner.jpg" alt="chairity_corporate_partner" />
    <img src="static/Assets/ChairityPost1.jpg" alt="ChairityPost1" />
    <img class="image-grid-row-2" src="static/Assets/KELA DONATION BOX IMG1.jpg" alt="Tommy and Franco Picture"/>
    <img src="static/Assets/Gio.jpg" alt="Gio" />
    <img class="image-grid-row-2" src="static/Assets/KELA DONATION BOX IMG2.jpg" alt="chairity_corporate_partner" />
    <img src="static/Assets/Halloween Em, Sam, and Franco.jpg" alt="Halloween Flicks" />
    <img src="static/Assets/Jason Cape.jpg" alt="Jason with Cape" /> 
    <img  class="image-grid-row-column-2" src="static/Assets/Franco and Tommy.jpg" alt="Tommy and Franco Picture"/>
    <img src="static/Assets/Peter_parker_.jpg" alt="Spiderman" /> 
    <img src="static/Assets/7D18D98E-18FC-45D5-A8EE-C236503882B9.JPG" alt="IG Post 1" />
    <img src="static/Assets/47870E19-8EB3-4265-AD6A-495535DFD4C8.JPG" alt="IG Post 2" />
    <img src="static/Assets/4CE43EA1-B0F5-48D0-BB62-0AEB18298FAC.JPG" alt="IG Post 3" />
    <img src="static/Assets/6E3D1D28-A439-4C74-B14F-98C439C724BE.JPG" alt="IG Post 4" />
    <img src="static/Assets/Post3.jpg" alt="IG Post 4" />


    <img src="static/Assets/Peter Portfolio From Imac/Artboard 1.jpg" alt="Page 1 Of HH post" /> 
    <img src="static/Assets/Peter Portfolio From Imac/Artboard 2.jpg" alt="Page 2 Of HH post" /> 

    <img src="static/Assets/Peter Portfolio From Imac/Game 6 unbroken.jpg" alt="Cavs Promo" /> 
    <img  class="image-grid-row-column-2" src="static/Assets/Peter Portfolio From Imac/IMG_1550.PNG" alt="Math Offered" /> 
    <img src="static/Assets/Peter Portfolio From Imac/PandaLoudout.jpg" alt="David Panda Face" /> 


</div>

<div id="works_box">
    <h1>Other Design Works</h1>
</div>
<div class="image-grid">
    <img class="image-grid-row-2"  src="static/Assets/CPV_Sticker.jpg" alt="CPV_Sticker" />
    <img src="static/Assets/gblogo2.jpg" alt="Goldbreak Logo" />
    <img  class="image-grid-row-column-2" src="static/Assets/menüOrangeProto.png" alt="Menu Logo"/>
    <img src="static/Assets/MurrayV1.jpg" alt="Murray Crest" /> 
    <img class="image-grid-row-column-2" src="static/Assets/pichCrestv2.jpg" alt="Pich Logo"/> 
    <img src="static/Assets/PPJads.jpg" alt="PPJads" /> 
    <img src="static/Assets/salislogo.png" alt="Salis Logo" /> 
    <img src="static/Assets/theidealmasklogo.png" alt=" Ideal Mask Logo" /> 
    <img src="static/Assets/USFC.jpg" alt="Salis Logo" /> 
    <img class="image-grid-column-2" src="static/Assets/ziruLogo.png" alt="Ziru Logo" /> 

    <img class="image-grid-row-2" src="static/Assets/Social Media Posts-01.png" alt="Gap Post 1" /> 
    <img src="static/Assets/pg2 Gap.png" alt="Gape Page 2" /> 
    <img src="static/Assets/Peter Portfolio From Imac/bostonTitle.jpg" alt="Boston Title" /> 

    <img src="static/Assets/Social Media Posts-02.png" alt="Salis Logo" /> 
    <img src="static/Assets/theLobstiePatty - Peter Pich.png" alt="Salis Logo" /> 
    <img class="image-grid-column-2" src="static/Assets/pg1 Gap .png" alt="Gap Page 1" /> 

    <img src="static/Assets/Peter Portfolio From Imac/Gio Logo.jpg" alt="gio Logo" /> 
    <img src="static/Assets/Peter Portfolio From Imac/house^2rendering.jpg" alt="Salis Logo" /> 
    <img src="static/Assets/Peter Portfolio From Imac/Screen Shot 2022-12-01 at 5.38.44 PM.png" alt="Pavilion Logo" /> 
    <iframe src= "static/Assets/ArchitecturePortfolioVersion3 copy.pdf" 
    width="600" 
    height="300">
</iframe>

    <img src="static/Assets/Peter Portfolio From Imac/Upekkha.jpg" alt="Upekkha Logo" /> 
    <img class="image-grid-column-2" src="static/Assets/Peter Portfolio From Imac/Ziru Logo.jpg" alt="Ziru Logo" /> 



</div>

<div id="works_box">
    <h1>Coding Projects</h1>
</div>

<div class="image-grid">
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.45.10 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.45.27 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.45.57 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.46.06 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.46.13 PM.png" alt="Gio" />
    <img class="image-grid-column-2" src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.46.22 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.46.32 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.46.46 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.46.53 PM.png" alt="Gio" />

    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.46.59 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.47.11 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.47.27 PM.png" alt="Gio" />

     <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.56.55 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.57.06 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.57.18 PM.png" alt="Gio" />
    <img class="image-grid-column-2"src="static/Assets/Screenshots/Screen Shot 2023-01-04 at 7.57.27 PM.png" alt="Gio" />

</div>

{% endblock %}